/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
}

.navbar {
    background-color: #000;
    border-bottom: 2px solid #17a2b8;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/nodes.jpg') no-repeat center center/cover;
    color: white;
}

.section {
    padding: 100px;
    color: white;
}



#about, #vision, #features, how-it-works, faq {
    margin-bottom: 80px;  /* Adds spacing between sections */
}

#how-it-works {
    background-color: #f8f9fa;  /* Light background */
    color: #333;  /* Dark text */
}


.section.bg-dark {
    background-color: #222;
}

.btn-outline-light {
    border: 2px solid white;
    color: white;
}

.btn-outline-light:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

h1, h2, h4 {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #000;
    color: #aaa;
}

footer p {
    margin: 0;
    color: #fff;
}
